
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">MASTER - @ViewBag.Title</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" width="100%" id="tableBS" cellspacing="0">
                <thead>
                    <tr>
                        <th>SMARTWATCH</th>
                        <th>TANGGAL</th>
                        <th>NIK</th>
                        <th>NAMA</th>
                        <th>UNIT</th>
                        <th>SHIFT</th>
                        <th>FINGER DATE</th>
                        <th>TIDAK UPLOAD KE</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


@section styles {
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />
}


@section scripts {
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>


    <script>
        var baseLink = '@Url.Action("Function", "Controller")';
        var controllerName = "@ViewBag.Controller";
        var dataTable;

        $(document).ready(function () {
            getAll();
        });

        let processedIds = new Set();

        function getAll() {
            console.log ('xxx')
            var linkGetAll = baseLink.replace("Controller", controllerName).replace("Function", "GetAll");

            if (dataTable) {
                dataTable.ajax.reload(null, false);
            } else {
                dataTable = $("#tableBS").DataTable({
                    "ajax": {
                        "url": linkGetAll,
                        "type": "GET",
                        "datatype": "json"
                    },
                    "columns": [
                        { "data": "smartwatch" },
                        {
                            "data": "tanggal",
                            "render": function (data) {
                                return formatDateTime(data, "");
                            }
                        },
                        { "data": "nik" },
                        { "data": "nama_lengkap" },
                        { "data": "unit" },
                        {
                            "data": "shift",
                            "render": function (data) {
                                if (data === '1') {
                                    return `<button class="badge badge-success" disabled>shift 1</button>`;
                                } else {
                                    return `<button class="badge badge-primary" disabled>shift 2</button>`;
                                }
                            },
                            "orderable": false,
                            "width": "100px",
                            "searchable": false
                        },
                        {
                            "data": "finger_date",
                            "render": function (data) {
                                return formatDateTime(data, "");
                            }
                        },
                        { "data": "tidak_upload_ke" },
                    ],
                    "order": [[1, "desc"]],
                    "language": {
                        "emptyTable": "Tidak ada data"
                    },
                    "dom": 'Bfrtip', 
                    "buttons": [
                        {
                            extend: 'excelHtml5',
                            title: 'Data Export',
                            text: 'Export Excel',
                            className: 'btn btn-success btn-sm'
                        }
                    ]
                });
            }
        }

        function formatDateTime(dateTime, color) {
            if (!dateTime) return '-';

            // Parse tanggal dari format ISO
            var date = new Date(dateTime);

            // Format tanggal menjadi YYYY-MM-DD
            var formattedDate = date.getFullYear() + '-' +
                String(date.getMonth() + 1).padStart(2, '0') + '-' +
                String(date.getDate()).padStart(2, '0');

            // Tambahkan elemen dengan warna sesuai
            return `<span style="background-color: ${color}; color: black; padding: 3px; border-radius: 3px;">${formattedDate}</span>`;
        }

    </script>
}


